:root {

    /*Fonts*/
    --1-headline-font: cache;
    --font: avenir;
    --fontSize: 20px;
    --font-color: rgb(4, 4, 71);
    --shadow: 2px 2px 4px #0f1031, 2px 2px 6px #0f1031, 2px 2px 7px #0f1031;

    /* Backgrounds and borders */
    --glass: #ffffff3d;

    /* UV Index Colours */
    --uvLow: #289500;
    --uvMod: #F7E400;
    --uvHigh: #F85900;
    --uvVHigh: #D80010;
    --uvExt: #6B49C8;

    /* Mobile First (latest iPhone First) Parameters */
    --swf: calc(375/375); /* Screen Width Factor */
    --shf: calc(812/812); /* Screen Height Factor */

    /* Dynamically adjusted sizing for non-flex containers */
    --iconS-size:  calc( (( var(--swf) + var(--shf))/2) * 35px);
  
}

/* * {
    border: 1px dotted rgba(255, 255, 0, 0.952);
    background-color: rgba(138, 44, 130, 0.247);
}  */



@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'avenir';
    src: url('./AvenirLTStd-Roman.otf');
}

html,
body {
    height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font);
    font-size: var(--fontSize);
    color: var(--font-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}    

#background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#header-row {
    height: 8%;
    align-items: center;
}

h1 {
    font-size: 250%;
    font-weight: 800;
}

#body-row {
    height: 92%;
    width: 100%;

}

.row {
   
    /* border: 1px dotted rgb(247, 255, 138); */
    /* background-color: #c015154f; */
}

header,
.five-day {
    text-align:  center;
}


#header-row div img {
    height: 50px;
    filter: opacity(1);
}


#search-form,
#search-history-container {

    height: 95%;

}

#cityToSearch {
    width: 95%;
    height: 5vh;
    margin: 0 auto;
}

.horiz-border {
    border: 1px solid rgba(0, 0, 0, 0.432);
    background-color: #d8000e49;
    margin: 1vh 0;
}


.uv-icon {
    font-size: 75%;
    border-radius: 5px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.uv-icon.low {
    color: #fff;
    background-color: var(--uvLow);
}

.uv-icon.mod {
    color: rgb(0, 0, 0);
    background-color: var(--uvMod);
}

.uv-icon.high {
    color: rgb(0, 0, 0);
    background-color: var(--uvHigh);
}

.uv-icon.vHigh {
    color: #fff;
    background-color: var(--uvVHigh);
}

.uv-icon.ext {
    color: #fff;
    background-color: var(--uvExt);
}

label {
    font-size: 130%;
    align-self: center;
}

input {
    text-align: center;
}


.daily-card,
.btn {
    margin: 0.5vw;
    padding: 1vw;
}

.current-day {
    margin-top: 1.5vw;
}

#search-form {
    margin: 1.5vw;
    padding: 0.2vw;
}

#header-row {    
    background-color: var(--glass);
    backdrop-filter: blur(8px);
}

.five-day,
.current-c,
.btn,
#cityToSearch {
    border-radius: 1vw;
    background-color: var(--glass);
    backdrop-filter: blur(8px);

}

#search-form,
.current-day {
    border-radius: 1vw;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(110deg, #ffffffa6, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0) );
}

.current-c,
.daily-card {
    border-radius: 1vw;
    backdrop-filter: blur(6px);
    background-image: linear-gradient(155deg, #ffffffa6, rgba(0, 0, 255, 0) );
}

#submitButton {
    background-color: rgba(0, 68, 214, 0.473);
}

#search-form,
.five-day,
.current-day {
    backdrop-filter: blur(10px); 
}

.current-c {
    font-size: 125%;
}

.five-day {
    font-size: 135%;
}

.col-12.d-flex#five-day-section {
    font-size: 70%;
}

.btn {
    padding: 1vh 1vw;
}

.blend-mode {
    /* mix-blend-mode: color-burn !important; */
    font-kerning: 4;
}

/* .aaa {
    background-color: #950039d8 !important;
}
.bbb {
    background-color: var(--uvMod) !important;
}

.ccc {
    background-color: var(--uvExt) !important;
}

.ddd {
    background-color: yellowgreen !important;
} */

                                        /* RESPONSIVE STYLING */

@media (max-width: 350px) and (max-height: 750px) {

    :root {
        --swf: calc(320/375); /* Screen Width Factor */
        --shf: calc(568/812); /* Screen Height Factor */
    }
}

@media (min-width: 450px) and (max-height: 450px) {

    :root {
        --swf: calc(450/375); /* Screen Width Factor */
        --shf: calc(320/812); /* Screen Height Factor */
    }
}

@media (min-width: 550px) and (min-height: 570px) { 

    :root {
        --swf: calc(768/375); /* Screen Width Factor */
        --shf: calc(812/812); /* Screen Height Factor */
    }
}

@media (min-width: 780px)  {
   
}

@media (min-width: 1000px) and (max-height: 650px) {
   
}

@media (min-width: 1000px) and (min-height: 650px) {
   
}

@media (min-width: 1000px) and (max-height: 1500px) and (min-height: 700px) {
 
}

@media (min-width: 1400px) and (max-height: 2000px) {

}

@media (min-width: 2000px) {
    
}